@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Oswald:wght@200;300;400&display=swap');

@keyframes highlight {
    0% {
      width: 0;
      opacity: 0;
    }
  
    50% {
      width: 100%;
      opacity: 1;
    }
  
}

/*Logo color: #8DACDA (Blue)
Cute pink color: #F487B6
Rich back: #011627 (Black background?)

#82b1ff blue accent-1 (Cor usada nos botões)*/

:root {
    --cor-principal: #8DACDA; /*Cor usada no título da página*/
    --cor-textos-padrao: #090909; /*Cor usada nos textos*/
    --cor-link-dark-background: #FDF4F5; /*Cor também usada no background*/

    --fonte-titulo: 'Mouse Memoirs', sans-serif;
    --fonte-subtitulo: 'Oswald', sans-serif;
}

body {
    background-color: #FDF4F5;
}

.navegacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.1rem 0 3rem 20px;
    margin-bottom: 10px;
    background-color: var(--cor-principal);    
}

.navegacao__esquerda {
    text-align: left;
}

.navegacao__direita {
    text-align: right;
}

.navegacao a {
    font-family: var(--fonte-subtitulo);
    font-size: 25px;
    color: var(--cor-link-dark-background);
    text-decoration: none;
    margin-right: 2rem;

    text-shadow: 2px 2px 3px var(--cor-textos-padrao);
}

.navegacao a:visited {
    color: var(--cor-link-dark-background);
}

.navegacao a:hover {
    color: var(--cor-textos-padrao);
    text-shadow: 2px 2px 3px var(--cor-link-dark-background);
}

.navegacao ul li.active {
    background: grey;
}

.header__conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr; /*1fr = 1 fraction of the space*/
    grid-template-rows: 1fr;
    justify-content: center;
    margin: 20px auto;
    width: 60%;
}

.header__titulo--e--subtitulo {
    margin: auto;
}

.header__titulo {
    font-family: var(--fonte-titulo);
    font-size: 120px;
    color: var(--cor-textos-padrao);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: 2s;
}

.header__titulo:hover {
    transform: scale(1.3);
    color: var(--cor-principal);
}

.header__subtitulo {
    font-weight: 300;
    font-family: var(--fonte-subtitulo);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-textos-padrao);

    display: inline-block;
    background-image: linear-gradient(to right, transparent 50%, var(--cor-principal) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 0.5s;
    cursor: default;
}

.header__subtitulo:hover {
    background-position: -100%;

}

.header__imagem {
    width: 400px;
}

.row {
    width: 80%;
    margin-top: 30px;
}

.card-title {
    font-family: var(--fonte-subtitulo);
    font-weight: bold;
}

.material-icons {
    color: var(--cor-textos-padrao);
}

.copyright {
    font-family: var(--fonte-subtitulo);
    font-size: 14px;
    color: var(--cor-textos-padrao);
    line-height: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /*1fr = 1 fraction of the space*/
    grid-template-rows: 1fr;
    justify-content: center;
    margin: auto;
    width: 95%;
    padding: 10px 0;
}

.copyright a {
    color: var(--cor-textos-padrao);
    text-decoration: none;
}

.copyright a:visited {
    color: var(--cor-textos-padrao);
}

.copyright__autoria__ilustracoes {
    text-align: right;
}

#index .navegacao .navegacao__direita--index, #cadastrar .navegacao .navegacao__direita--cadastrar {
    border-bottom: solid 2px var(--cor-link-dark-background);
}